* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.contenedorindex {
    flex: 1;
}



/* MOBILE NAV */
.logo img {
    width: 70px;
}

.navegacion {
    display: flex;
    background-color: #7e7e7e;
    border-bottom: 5px solid orange;
}

.lista_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: auto;
    gap: 10px;
}

ul li {
    list-style: none;
    text-decoration: none;

}

ul li a {
    text-decoration: none;
    color: aliceblue;
}


/* MOBILE MAIN */

.contenedorindex {
    background-color: #333;

}

.contenedorindex h1 {
    text-align: center;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pizzapollo img {
    border-radius: 5%;
    border: 2.5px solid black;
    width: 400px;
}

.footermenu {
    border-top: 5px solid orange;
    background-color: #7e7e7e;
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes i {
    font-size: xx-large;
    color: orange;
}

@media (min-width:600px) {}